body {
	background-color:#f9f9f9;
	padding:40px;
	margin-top:-20px !important;
}


.tableReplacement {
	margin: 20px 0px 20px 10px !important;
	font-size:16px;
	font-style: italic;
}
.bigLink {
	margin: 20px 0px 20px 10px !important;
	font-size: 18px;
	font-weight: bold;
}

.tableTitle {
	background: #2aaae6!important;
	color: #FFF;
    font-size: 18px;
    line-height: 40px;
    padding: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.tableHolder {
	min-width: 700px;
	width: auto;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	border: 1px black solid;
	margin: 40px 0px 20px 0px;
}
.defaultTable {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	vertical-align: middle;
	text-align: center;
	width:auto;
	margin: 10px;
}
thead {    
    font-weight: bold;
    font-size: 14px;
    color: #666666;
}
tbody {
	font-size: 14px;
    color: #666666;
   	border: 1px black solid;
	border-collapse: collapse;
}

tbody td {
	padding: 1px;
}


#successText {
	color: green;
	text-decoration: underline;
	font-size: 16px;
}
#headerHomeLink {
	text-decoration: underline;
	font-size: 16px;
}

.error {
	color: red;
	font-weight: bold;
	border: 1px solid red;
	padding: 10px;
}

.linkImitation {
	color: blue;
	text-decoration: underline;
	border: 0px;
	background-color: inherit;
}

.dialogHeader {
	vertical-align: middle;
	text-align: center;
	font-decoration: underline;
	font-size: 14px;
}



.aui p {
	margin: inherit;
}

.dataTables_wrapper {
	padding: 10px;
}

.ui-widget-content {
	background: #EFEFEF;
}